body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;  /* 使用flex布局 */
    flex-direction: column;  /* 垂直排列子元素 */
    min-height: 100vh;  /* 最小高度为视口高度 */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;  /* 让内容区域占据剩余空间 */
}

.post-preview {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post-preview h2 {
    margin-top: 0;
}

.post-preview p {
    color: #666;
}

.date {
    color: #666;
    font-size: 0.9em;
}

.type {
    color: #666;
    font-size: 0.9em; 
}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    /* 固定在底部 */
    margin-top: auto; 
}

/* 正常状态下超链接样式 */
a {
    color: black; /* 设置超链接颜色为黑色 */
    text-decoration: none; /* 去除下划线 */
    transition: all 0.3s ease; /* 添加过渡效果，使变化更平滑，持续 0.3 秒 */
    display: inline-block; /* 将超链接转换为内联块元素，以便能应用 transform 属性 */
}

/* 鼠标悬停时超链接样式 */
a:hover {
    transform: scale(1.1); /* 使超链接在悬停时放大到原来的 1.1 倍 */
}

.tags {
    color: #aaa;
    font-size: 0.8em;
    margin-left: 10px;
}

.category-filter {
    margin-bottom: 10px;
}

.category {
    color: #888;
    font-size: 0.9em;
    margin-left: 10px;
}

